/**
 * Mixins & Modulus
 */
@import '_mixins/smart-grid'
@import '_mixins/bg-cover'
@import 'media'
@import 'fonts'
@import 'vars'

+reset()

.wrapper
    +wrapper

body
    font-family: open-sans, sans-serif

a
    text-decoration: none

p
    margin:
        top: 3px
        bottom: 3px

#index
    +bg-cover("../img/bg7.jpg")

#page1
    +bg-cover("../img/bg1.jpg")

#page2
    +bg-cover("../img/bg8.jpg")

#page2-1
    +bg-cover("../img/bg19.jpg")

#page3
    +bg-cover("../img/bg2.jpg")

#page3-1
    +bg-cover("../img/bg11.jpg")

#page4
    +bg-cover("../img/bg10.jpg")

#page4-1
    +bg-cover("../img/bg12.jpg")

#page5
    +bg-cover("../img/bg6.jpg")

#page5-1
    +bg-cover("../img/bg24.jpg")

#page6
    +bg-cover("../img/bg25.jpg")

#page7
    +bg-cover("../img/bg20.jpg")

#page8
    +bg-cover("../img/bg17.jpg")

#page8-1
    +bg-cover("../img/bg26.jpg")

#page8-2
    +bg-cover("../img/bg26.jpg")

#page9
    +bg-cover("../img/bg21.jpg")

#page9-1
    +bg-cover("../img/bg9.jpg")

#page10
    +bg-cover("../img/bg23.jpg")

#page10-1
    +bg-cover("../img/bg22.jpg")

.header
    +row-flex()
    +justify-content(center)

    &__h1
        +col()
        font-family: brownhill, sans-serif
        text-align: center
        font-size: 6rem
        padding: 10px
        border-radius: 10px

        a
            color: $titlecolor

.quest
    +row-flex()
    +flex-direction(column)
    +align-items(center)

    &__link
        +col()
        +col-12()
        text-align: center
        width: 250px
        padding: 15px
        font-size: 2rem
        font-family: roboto, sans-serif
        background-color: $bgcolor
        transition: background 0.45s ease-in
        border-radius: 10px
        cursor: pointer
        color: $textcolor

        &:hover
            background-color: $hoverLink

    &__text
        text-indent: 1.75rem
        background-color: $bgcolor
        border-radius: 10px
        padding: 15px
        font-size: 1rem
        color: $textcolor

    &__form
        +col()
        +col-5()
        +col-xl-6()
        +col-lg-7()
        +col-md-9()
        +col-sm-12()
        border-radius: 10px
        padding: 15px
        margin-top: 15px
        color: $textcolor
        background-color: $bgcolor

        &-header
            font-size: 1.25rem
            font-weight: bold

        &-label
            display: block
            float: left
            clear: both

        &-button
            width: 175px
            padding: 15px
            font-size: 1.5rem
            font-family: roboto, sans-serif
            float: right
            background-color: $textcolor
            border: 0
            color: #fff
            border-radius: 10px
            cursor: pointer
            outline: none
            margin-top: 15px

            &:hover
                background-color: $hoverBtn

            &:disabled
                background-color: $disBtn

        &-code
            margin-left: 5px
            display: block
            float: right
            font-size: 1.25rem

        &-check
            outline: none
            width: 14px
            height: 14px

        #task
            font-size: 1.25rem

    #doge
        display: none
        border-radius: 10px

.footer
    +row-flex()
    +justify-content(center)

    &__copy
        +col()
        color: $textcolor

.header, .quest, .footer, .quest__link
    margin:
        top: 25px
        bottom: 25px